<!DOCTYPE html>
<html>
<head>
    <title>Personal Wallet</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>

{{>header}}

<h5>Page not found!</h5>

{{>footer}}

</body>
</html>