
<!DOCTYPE html>
<html>
<head>
    <title>{{page_title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>

<div class="main-content">
    {{>header}}
    <p>This is Home Page</p>
</div>
{{>footer}}

</body>
</html>